In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv("data/all_stocks_5yr.csv")

In [3]:
stocks.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [4]:
grouped = stocks.groupby(by=['date']).mean()

grouped.head(20)

                 open       high        low      close        volume
date
2013-02-08  58.068730  58.659286  57.802352  58.368654  4.643484e+06
2013-02-11  58.355556  58.686073  57.890072  58.272196  4.092442e+06
2013-02-12  58.321741  58.771200  57.954938  58.404071  5.122822e+06
2013-02-13  58.478904  58.899515  58.040928  58.485503  5.132086e+06
2013-02-14  58.289216  58.878329  57.871977  58.473144  5.482383e+06
2013-02-15  58.485982  58.932768  57.970143  58.437170  5.734999e+06
2013-02-19  58.475575  59.076565  58.088696  58.762733  5.274365e+06
2013-02-20  58.702446  59.020518  57.765783  57.915434  5.667893e+06
2013-02-21  57.765623  58.128038  57.007764  57.505777  6.042141e+06
2013-02-22  57.765128  58.342281  57.408570  58.088968  4.651068e+06
2013-02-25  58.332967  58.682924  56.980270  57.020570  5.768132e+06
2013-02-26  57.239422  57.785060  56.657046  57.367940  5.708278e+06
2013-02-27  57.423533  58.529759  57.175580  58.202076  4.946661e+06
2013-02-28  58.186321  58.792582  57.787218  58.186529  5.398288e+06
2013-03-01  57.979776  58.643128  57.477498  58.362241  5.240415e+06
2013-03-04  58.222026  58.900375  57.835719  58.684245  4.678854e+06
2013-03-05  58.950564  59.639694  58.680491  59.283359  5.070163e+06
2013-03-06  59.450800  59.831749  58.936313  59.296120  4.737881e+06
2013-03-07  59.369911  59.779297  58.918157  59.337500  4.781455e+06
2013-03-08  59.590637  59.968871  59.060459  59.646093  5.015645e+06

In [9]:
close = grouped[['close', 'volume']]

close.head(20)

                close        volume
date
2013-02-08  58.368654  4.643484e+06
2013-02-11  58.272196  4.092442e+06
2013-02-12  58.404071  5.122822e+06
2013-02-13  58.485503  5.132086e+06
2013-02-14  58.473144  5.482383e+06
2013-02-15  58.437170  5.734999e+06
2013-02-19  58.762733  5.274365e+06
2013-02-20  57.915434  5.667893e+06
2013-02-21  57.505777  6.042141e+06
2013-02-22  58.088968  4.651068e+06
2013-02-25  57.020570  5.768132e+06
2013-02-26  57.367940  5.708278e+06
2013-02-27  58.202076  4.946661e+06
2013-02-28  58.186529  5.398288e+06
2013-03-01  58.362241  5.240415e+06
2013-03-04  58.684245  4.678854e+06
2013-03-05  59.283359  5.070163e+06
2013-03-06  59.296120  4.737881e+06
2013-03-07  59.337500  4.781455e+06
2013-03-08  59.646093  5.015645e+06

In [10]:
close.to_csv('data/cleaned_stocks.csv')